<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui horizontal inverted small divided link list">
      <a class="item" href="{{ site.telegram-url }}" target="_blank">
        <i class="icon telegram"></i>
        Вступайте в наш Telegram
      </a>

      <a class="item" href="{{ site.github-issues-url }}" target="_blank">
        <i class="icon github"></i>
        Нашли ошибку? Создайте Issue на GitHub
      </a>

      <a class="item" href="/privacy-policy">
        Disclaimer &amp; Privacy policy
      </a>
    </div>

    <div class="ui inverted section divider"></div>

    <div class="ui inverted link list" id="donations">
      <h4 class="ui inverted header">
        Нравится то, что мы делаем? Поддержи нас!
      </h4>
      <span class="item">
        <span class="unselectable brighter">BTC: </span><span class="white mono">37g7ohiVE1FjbeLtL8hkRPF8tzmHBDwa3d</span>
      </span>
      <span class="item">
        <span class="unselectable brighter">ETH: </span><span class="white mono">0xD557462F02aDaEFC2BEBa419C70cEcCcFBc0d5C9</span>
      </span>
    </div>

  </div>
</div>
