<div class="only-mobile-visible">
  <div class="ui right labeled icon top right pointing dropdown fluid primary button">
    <span class="text">
      {% if include.active-tab == 'in-review' %}
        1й этап провекри
      {% elsif include.active-tab == 'active' %}
        2й этап провекри
      {% else %}
        Failed
      {% endif %}
    </span>
    <i class="dropdown icon"></i>
    <div class="menu">
     <a class="{% if include.active-tab == 'in-review' %}selected active{% endif %} item" href="/in-review">
        1й этап проверки
      </a>
      <a class="{% if include.active-tab == 'active' %}selected active{% endif %} item" href="/">
        2й этап проверки
      </a>
      <a class="{% if include.active-tab == 'past' %}selected active{% endif %} item" href="/past">
        Failed
      </a>
    </div>
  </div>
</div>


<div class="mobile-hidden">
  <div class="ui top pointing secondary blue menu">
    <a href="/in-review" class="{% if include.active-tab == 'in-review' %}active{% endif %} item">1й этап проверки</a>
    <a href="/" class="{% if include.active-tab == 'active' %}active{% endif %} item">2й этап провекри</a>
    <a href="/past" class="{% if include.active-tab == 'past' %}active{% endif %} item">Failed</a>
  </div>
</div>
